#--- Ignorar logs e dados temporários
logs/

#--- Ignorar arquivos __pycache__ e compilados do Python
__pycache__/
*.pyc
*.pyo

#--- Ignorar arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

#--- Ignorar diretórios de IDEs
.vscode/
.idea/

#--- Ignorar volumes locais do Mongo (caso use bind mount)
mongo-data/

#--- Ignorar scripts vazios
scripts/
